/*pop*/
.pop-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    align-items: center;
    justify-content: center;
    opacity: 0;
    @include transition(all 0.5s);
    z-index: -1;
    pointer-events: none;
    display: flex;

    &.active {
        z-index: 999;
        opacity: 1;
        pointer-events: all;

        .pop {
            //animation: aniPop .5s;
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}

.pop {
    position: relative;
    z-index: 20;
    background: url("../img/pop-bg.png") center/contain no-repeat;
    width: 541px;
    height: 402px;
    text-align: center;
    //animation: aniPop .5s;
    margin: -5px 0 0 -5px;
    padding: 0 20px 0 30px;
    @include transition(all 0.5s);
    opacity: 0;
    transform: translate(0, 100%) scale(0);
}


.pop-close {
    position: absolute;
    top: -11px;
    right: -28px;
    z-index: 20;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 500px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 0;
    padding: 5px;

    &::before {
        background: url(../img/pop-close.png) no-repeat;
        content: '';
        width: 50px;
        height: 50px;
        display: block;
        pointer-events: none;
    }

    &:hover {
        @include transform(scale(1.1))
    }
}


// 大
.pop-pay {
    background: url("../img/pop-pay.png") no-repeat;
    width: 541px;
    height: 515px;
}

// 小
.pop-small {
    background-image: url("../img/pop-bg-sm.png");
    width: 443px;
    height: 329px;
    margin-top: 33px;

    .pop-close {
        top: -18px;
        right: -37px;
    }
}

.pop-t {
    position: relative;
    z-index: 50;
    min-height: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.pop-title {

    h3 {
        color: #7c5635;
        @extend .font-SourceHanSansCN-Heavy;
        font-size: 32px;


        span {
            @include fontLinear;
            background-image: linear-gradient(to bottom, #fed7a4 20%, #fffce8 80%);
            @include filter(drop-shadow(0 0 0.5px #c37325) drop-shadow(0 0 0.5px #c37325) drop-shadow(0 0 0.5px #c37325) drop-shadow(0 0 0.5px #c37325) drop-shadow(0 0 0.5px #c37325) drop-shadow(0 0 0.5px #c37325) drop-shadow(0 0 1px #c37325) drop-shadow(0 0 0.1px #ffffff) drop-shadow(0 0 0.1px #ffffff) drop-shadow(0 0 0.1px #ffffff) drop-shadow(0 0 0.5px #ffffff) drop-shadow(0 0 0.5px #ffffff) drop-shadow(0 0 0.5px #ffffff) drop-shadow(0 0 0.5px #ffffff) drop-shadow(0 0 0.5px #ffffff) drop-shadow(0 0 21px rgba(157, 122, 56, 0.69)))
        }
    }
}

.pop-cont {
    color: #4b3525;
    font-size: 16px;
    text-align: center;
    padding: 0 20px;

    h4 {
        color: #b36424;
        font-size: 18px;
    }

    .msg {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        line-height: 1.7;

    }

    b {
        //#d15e29
        color: #9a6638;
    }

    .msg-01 {
        height: 180px;
    }

    .p-name {
        padding: 0 10px;
        font-weight: bold;
        color: #ffb154;
        margin: 2px auto;
    }

    .address-tips {
        padding: 10px 55px 0;
        font-size: 14px;
        text-align: justify;

        strong {
            color: #c38212;
            font-weight: normal;
        }
    }

    table {
        position: relative;

        width: 100%;

        th {
            padding-top: 2px;
            color: #9a6638;
            font-size: 17px;
            line-height: 28px;
            font-weight: bold;
        }

        td {
            height: 36px;
            color: #7c5635;
            font-size: 15px;
            line-height: 18px;
        }

        a {
            color: #ffb154;
            text-decoration: underline;
            //font-weight: bold;
            text-underline-offset: 5px;
            @include transition(all 0.3s);

            &:hover {
                text-underline-offset: 2px;
            }
        }


        tbody {
            tr {
                background: url("../img/table.png") no-repeat center;
            }
        }
    }
}

.contact {
    padding: 4px 0 12px 12px;

    li+li {
        margin-top: 4px;
    }

    li {
        position: relative;
        float: left;
        width: 100%;
        text-align: center;


        >label {
            float: left;
            width: 5em;
            color: #f9e5b6;
            font-size: 16px;
            line-height: 28px;
            text-align: right;
        }

        >span {
            float: left;
            height: 30px;
            overflow: hidden;
            //border-radius: 17px;
            //border: 1px solid #fee582;
            line-height: 30px;
        }

        >div {
            float: left;
            text-align: left;

            select {
                display: inline-block;
                vertical-align: top;
                width: 80px;
                height: 30px;
                padding: 0 10px;
                background: #f1e8d6;
                border: 1px solid #f4d5ad;
                color: #462711;
                font-size: 16px;
                border-radius: 7px;
                overflow: hidden;
            }
        }
    }

    input,
    select,
    textarea {
        display: block;
        width: 245px;
        height: 30px;
        padding: 0 10px;
        background: #f1e8d6;
        border: 1px solid #f4d5ad;
        color: #462711;
        font-size: 16px;
        line-height: 30px;
        border-radius: 7px;

        &::-webkit-input-placeholder {
            color: #462711;
        }
    }

    .li-text {
        span {
            height: 50px;
        }
    }

    .v-code {
        >label {
            line-height: 32px;
            font-size: 16px;
        }

        input {
            padding-right: 130px;
        }

        span {
            width: 245px;
        }
    }

    textarea {
        height: 50px;
        padding: 5px 10px;
        line-height: 1.5;
    }

    .btn-sms {
        position: absolute;
        top: 50%;
        margin-top: -19px;
        right: 23px;
        z-index: 10;
        width: 125px;
        height: 41px;
        color: #f9f1ff;
        line-height: 38px;
        background: url("../img/btn-sms.png");
        font-size: 14px;
        text-shadow: 1px 1px 1px #474d85, 1px -1px 1px #474d85, -1px -1px 1px #474d85, -1px 1px 1px #474d85;

        &:hover {
            @include btnLight;
        }

        &.ed {
            @include grayStyle;
        }
    }
}


.pop-btn+.pop-btn {
    margin-left: 10px;
}

.pop-btn {
    @extend .btn-common
}

.tac {
    display: flex;
    justify-content: center;

}

.phone-tips {
    padding: 12px 22px 0;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
    min-height: 120px;
}

.pop-phone-cont {
    .address-list {
        margin-bottom: 22px;
    }
}


.tab-cont {
    position: relative;
    width: 479px;
    margin: 0 auto;
}

.rule-pop-box {
    .pop {
        background: url("../img/pop-bg-rule.png");
        width: 541px;
        height: 515px;
        margin-top: 10px;
    }


    .pop-cont {
        padding: 10px 32px 0 30px
    }
}

.rules-mod {
    max-height: 330px;
    padding: 0 20px 0 0;
    text-align: justify;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 1.5;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #b9a48b;
        border-radius: 3px;
        //box-shadow: 0 0 1px #ffd48b;
    }

    /*定义滚动条轨道 内阴影+圆角*/
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    /*定义滑块 内阴影+圆角*/
    &::-webkit-scrollbar-thumb {
        background: #f5caa1;
        border-radius: 3px;
    }

    h4 {
        font-size: 20px;
    }

    table {
        width: 100%;
        margin: 5px 0 0 -5px;
        text-align: center;
        //border: 1px solid rgba(85, 130, 120, 0.6);;

        th,
        td {
            //border: 1px solid rgba(85, 130, 120, 0.6);;
            padding: 3px;
        }


        th {
            white-space: nowrap;
        }

        p {
            max-width: 150px;
            margin: 0 auto;
            line-height: 1.5;
        }

        td {
            padding: 5px 0;
            font-size: 13px;
        }

        td:nth-child(1) {
            //width: 220px;
            white-space: nowrap;
        }

        td+td,
        th+th {
            //border-left: 1px solid rgba(106, 87, 78, 0.24);
        }

        tbody {
            tr {
                background-size: 100% 80%;
            }
        }
    }
}

.rules-lists {
    padding-left: 35px;

    li {
        list-style-type: decimal;

        &~li {
            padding-top: 5px;
        }

        p {
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }

}

// address
.address-pop-box {
    .pop-title {
        h3 {
            padding-top: 5px;
        }
    }

    .address-tips {
        margin-top: -5px;
        padding: 0 8px;
    }

    .contact {
        padding: 2px 0 2px 24px;
    }

    .pop {
        //background: none;
    }
}


.page {
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;

    li {
        margin: 0 5px;
    }

    li,
    a {
        @include display-inline;
        color: #9c7450;
    }

    a {
        padding: 0 3px;
    }

    a:hover,
    .on a,
    .active a {
        text-underline-offset: 2px;
        color: #cc9e6e;
        text-decoration: underline;
    }
}

.record-pop-box .pop {
    background-image: url("../img/pop-bg-record.png");
    width: 587px;
    height: 402px;

    .pop-close {
        right: -36px;
    }
}


.pop-common {
    .msg {
        height: 168px;
    }
}

.pop-choose {
    .pop-cont {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        line-height: inherit;
        display: flex;
        padding: 20px 0;
    }

    .btn-chose {
        margin: 0 10px;
        width: 148px;

        &::before {
            display: block;
            width: 104px;
            height: 103px;
            content: '';
            margin: 0 auto;
        }

        &::after {
            content: '';
            background: url("../img/check.png") no-repeat center/100% 100%;
            width: 20px;
            height: 20px;
            display: block;
            margin: 0 auto;
        }

        span {
            @extend .font-Alibaba-PuHuiTi-Medium;
            display: block;
            color: #9f7953;
            font-size: 19px;
            margin: -4px 0 9px;
        }

        &.zfb {
            &::before {
                background: url(../img/zfb.png) no-repeat center, url("../img/btn-chose.png") no-repeat center/100% 100%;
            }
        }

        &.wx {
            &::before {
                background: url(../img/wx.png) no-repeat center, url("../img/btn-chose.png") no-repeat center/100% 100%;
            }
        }

        &.active {
            &::after {
                background-image: url("../img/checked.png");
            }
        }
    }


}

.pop-pay {
    .pop-cont {
        padding-top: 20px;
    }

    .tac {
        padding-top: 10px;
        padding-right: 3px;
    }

    .pop-btn {
        width: 167px;
        height: 40px;
        line-height: 39px;
        font-size: 25px;
    }

    h4 {
        // albb midium
        font-size: 18px;
        color: #ffffff;
        @include filter(drop-shadow(0 0 0.5px #c37325) drop-shadow(0 0 0.5px #c37325) drop-shadow(0 0 0.5px #c37325) drop-shadow(0 0 0.5px #c37325) drop-shadow(0 0 0.5px #c37325) drop-shadow(0 0 1px #c37325) drop-shadow(0 0 1px #c37325) drop-shadow(0 0 1px #c37325) drop-shadow(0 0 0.1px #ffffff) drop-shadow(0 0 0.1px #ffffff) drop-shadow(0 0 0.1px #ffffff) drop-shadow(0 0 0.5px #ffffff) drop-shadow(0 0 0.1px #ffffff) drop-shadow(0 0 0.5px #ffffff) drop-shadow(0 0 0.5px #ffffff) drop-shadow(0 0 0.5px #ffffff) drop-shadow(0 0 21px rgba(157, 122, 56, 0.69)))
    }

}

.code-mod {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 133px;
    margin: 18px auto 20px;
    background: #fff;
    padding: 2px;
    border-radius: 12px;
    border: 1px solid #dda67a;

    // 支付宝 iframe里固定了150
    iframe {
        @include transform(scale(133/150))
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.warm-tips {
    margin-top: 20px;
    padding: 0 54px 0;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;

    h5 {
        color: #6d5849;
        font-size: 16px;

        &::before {
            content: '';
            display: inline-block;
            background: url("../img/dt.png");
            width: 14px;
            height: 14px;
            margin-right: 2px;
            margin-top: -1px;
            vertical-align: middle;
        }
    }

    p {
        font-size: 14px;
        color: #4b3525;
    }
}

.pop-iframe {
    width: 500px;
    height: 500px;
    padding: 0;
    background: none;

    .pop-t {
        min-height: 0;
    }

    .pop-cont {
        padding: 0;
    }

    /*.pop-close {
        top: 0;
        right: -35px;
    }*/
}